#about-me {

}
.about-me {
    background: $mainColor;
    padding: 50px 0;
    border-top: 80px solid transparent;
    margin-top: -80px;
    background-clip:padding-box;
    &__title {
        width: 100%;
        text-align: center;
    }
    &__subtitle {
        padding: 0 50px;
        line-height: 25px;
        width: 60%;
        text-align: justify;
    }
    &__items {
        display: flex;
        margin-top: 50px;
    }
    &__photo {
        width: 50%;
        img {
            width: 80%;
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }   
}