.promo {
    padding-top: 100px;
    padding-bottom: 30px;
    &__header {
        display: flex;
        justify-content: space-between; 
        position: fixed;
        top: 0;
        background: url("../image/header.jpg") 80%/cover;
        width: 100%;
        border-bottom: 1px solid black;
        z-index: 1000;
    }
    &__icon {
        padding: 10px 0;
        margin-left: 20px;
        height: 100px;
        img {
            display: relative;
            height: 100%;
        }
    }
    &__menu {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-right: 10px;
    }
    &__link {
        padding: 0;
        color: rgb(47,53,59);
        text-decoration: none;
        font-size: 20px;
        &:hover {
            border-bottom: 1px solid rgb(47,53,59);
        }
    }
    &__content {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
    }
    &__subtitle {
        margin: 10px 20px 0 0;
        text-align: justify;
    }
    &__img {
        max-width: 400px;
        height:200px;
        img {
            height: 100%;
        }
    }
    &__title {
        padding-left: 20px;
        margin-top: 40px;
    }
    &__burger {
        display: none;
        height: 20px;
        width: 50px;
    }
}