.projects {
    margin-top: 50px;
    background-color: rgba(190, 190, 190, 0.5);
    padding-bottom: 50px;
    &__items {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        padding-top: 50px;
        text-align: center;
    }
    &__subtitle {
        color:rgba(0,0,0, 0.7)
    }
    &__link {
        border: 1px solid rgba(0, 0, 0, 0.226);
        margin: 10px 3px;
        max-width: 60%;
        img {
            width: 100%;
            // height: 150px;
            object-fit: cover;
            transition: 0.5s all;
            &:hover {
                transform: scale(1.5, 1.5);
            }
        }
    }
}